<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
    {{ block "head" . }}{{ end }}
</head>

<body>
    {{ partial "header.html" . }}
    {{ if .Param "math" }}
    {{ partialCached "math.html" . }}
    {{ end }}
    {{ block "header" . }}{{ end }}
    <main class="page-wrapper">
        {{ block "main" . }}{{ end }}
    </main>
    {{ if isset .Params "footer" }}
    {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "scripts.html" . }}
    {{ block "script" . }}{{ end }}
</body>

</html>