{{ define "main" }}
<article id="article" class="container" itemscope itemtype="https://schema.org/Article">
  {{/* Article MetaData */}}
  <div id="articleGrid" class="row g-3 my-2">
    {{/* Left Sidebar */}}
    <div id="articleSidebar" class="col-lg-4">
      <div class="position-sticky" style="top: 2rem;">
        {{/* TOC */}}
        {{ if in .TableOfContents "li" }}
        <div id="articleTOC" class="btn-group mb-3 treemenu">
          <button class="btn border" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false"
            aria-expanded="false"><i class="bi bi-list-columns-reverse"></i> Table of Contents</button>
          <div class="dropdown-menu py-3" style="font-size: 1rem; width: 300px;">{{ .TableOfContents }}</div>
        </div>
        {{ end }}
        {{/* Sidebar Local Menu */}}
        <aside class="treemenu collapse navbar-collapse py-2 d-lg-block" id="LocalNavigationMenu">
          <div id="readMenu">{{ partial "local/sidebar.html" . }}</div>
        </aside>
      </div>
    </div>

    {{/* Article Body */}}
    <div id="articleContent" class="col-lg-8">
      {{/* articleSchema */}}
      <div id="articleSchema">
        {{/* <div id="articleBraedcrumb">{{ partial "meta.breadcrumb.html" . }}</div> */}}
        {{ $text := .Params.unit }}
        {{ $map := dict "0" "০" "1" "১" "2" "২" "3" "৩" "4" "৪" "5" "৫" "6" "৬" "7" "৭" "8" "৮" "9" "৯" }}
        {{ range $key, $val := $map }}
        {{ $text = $text | replaceRE (printf "(%s)" $key) $val }}
        {{ end }}
        <h3 id="articleUnit">অনুচ্ছেদ {{ $text }}</h3>
        <h2 id="articleTitle" class="border-bottom pb-2 fw-bold" itemprop="headline">{{ .Title }}</h2>
        <div id="articleNavigation" class="my-3">{{ partial "local/navigation.html" . }}</div>
        <hr>
        {{ if in .TableOfContents "li" }}<details open>
          <summary class=" fw-bold">
            {{/* <i class="bi bi-list-columns-reverse"></i> */}}
            Table of Contents</summary>
          {{ .TableOfContents }}
        </details>
        <hr>{{ end }}
      </div>
      <div id="articleBody" class="mt-4" itemprop="articleBody">{{.Content}}</div>
      {{/* <div id="articleNavigation" class="mt-5">{{ partial "discrete-mathematics/posts.navigation.html" . }}</div>
      */}}
    </div>
  </div>
</article>
{{ end }}