{{ $currentPage := . }}
{{ $pathStructure := "parent" }} {{/* Can be "parent", "base", or "ancestor" */}}
{{ $showParentItem := true }} {{/* true will show parent URL too with child */}}

<h2>DEBUG</h2>
{{ $currentPage }} <br>
{{ $pathStructure  }} <br>
{{ $localMenu := "" }}
{{ $currentSection := .Section }}
<hr>
{{ range index .Site.Menus "discrete-mathematics"}}
{{ .URL}} <br>
{{ end }}

{{ if index .Site.Menus $currentSection }}
  {{ $localMenu = $currentSection }}
{{ else if .Site.Menus.local }}
  {{ $localMenu = "local" }}
{{ else if .Site.Menus.main }}
  {{ $localMenu = "main" }}
{{ else }}
  {{ $localMenu = "" }}
{{ end }}

{{ range index .Site.Menus $localMenu }}
  {{ template "menuItem" dict "Item" . "CurrentPage" $currentPage "PathStructure" $pathStructure "ShowParentItem" $showParentItem "CurrentSection" $currentSection }} 
{{ end }}

{{/* Menu Item Template */}}
{{ define "menuItem" }}
  {{ $item := .Item }}
  {{ $currentPage := .CurrentPage }}
  {{ $pathStructure := .PathStructure }}
  {{ $showParentItem := .ShowParentItem }}
  {{ $currentSection := .CurrentSection }}

  {{/* Adjust URL handling based on path structure */}}
  {{ $relLangURL := "" }}
  {{ if eq $pathStructure "parent" }}
    {{/* /read/SECTION/url */}}
    {{ $relLangURL = absLangURL (printf "/%s%s" $currentSection $item.URL) }}
  {{ else if eq $pathStructure "base" }}
    {{/* /read/url */}}
    {{ $relLangURL = relLangURL $item.URL }}
  {{ else if eq $pathStructure "ancestor" }}
    {{/* /read/SECTION/url */}}
    {{ $relLangURL = absLangURL (printf "/%s%s" $currentSection $item.URL) }}
  {{ else }}
    {{/* Default behavior, handle URL as normal */}}
    {{ $relLangURL = relLangURL $item.URL }}
  {{ end }}

  {{ if $item.HasChildren }}
    <details>
      <summary>{{ $item.Name }}</summary>
      <ul class="ms-3">
        {{ if $showParentItem }}
        <li class="{{ if eq $relLangURL $currentPage.RelPermalink }}active fw-bold{{ end }}">
          <a href="{{ $relLangURL }}">{{ $item.Name }}</a>
        </li>
        {{ end }}
        {{ range $item.Children }}
        {{ template "menuItem" dict "Item" . "CurrentPage" $currentPage "PathStructure" "ancestor" "ShowParentItem" true "CurrentSection" $currentSection }}
        {{ end }}
      </ul>
    </details>
  {{ else }}
    {{ if $showParentItem }}
    <li class="{{ if eq $relLangURL $currentPage.RelPermalink }}active fw-bold{{ end }}">
      <a href="{{ $relLangURL }}">{{ $item.Name }}</a>
    </li>
    {{ end }}
  {{ end }}
{{ end }}