<aside class="bd-sidebar">
  <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Browse docs</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
        data-bs-target="#bdSidebar"></button>
    </div>

    <div class="offcanvas-body">
      {{/*  <nav class="bd-links w-100 " id="bd-docs-nav" aria-label="Docs navigation">
      {{ $menu := .Site.Data.mn }}
      <ul class="list-unstyled">
        {{ range $item := $menu }}  
        <li>
            <a href="{{ $item.url }}">{{ $item.name }}</a>
            {{ with $item.children }}
              <ul class="list-unstyled">
                {{ range . }}
                  <li><a href="{{ .url }}">{{ .name }}</a></li>
                {{ end }}
              </ul>
            {{ end }}
          </li>
        {{ end }}
      </ul>
      </nav>  */}}
      <nav class="bd-links w-100 " id="bd-docs-nav" aria-label="Docs navigation">
        <ul class="list-unstyled">
          <li><a href="#"><strong>Tutorials</strong></a></li>
          <li><a href="#">HTML basics</a></li>
          <li class="toggle">
            <details>
              <summary>অধ্যায় ১: যুক্তি ও প্রমাণ</summary>
              <ul class="list-unstyled">
                <li><a href="/u1/">যুক্তি ও প্রমাণ</a></li>
                <li><a href="/u1/">যুক্তিবাক্য - প্রপোজিশনাল লজিক</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>