<h1 class="bd-title mb-0" id="content">{{ .Title }}</h1>
<div class="d-flex flex-row pt-2 d-print-none">
    <a class="btn btn-sm btn-bd-light mb-3 mb-md-0 rounded-2"
        href="https://github.com/{{ .Site.Params.github.user }}/{{.Site.Params.github.repo}}/edit/{{.Site.Params.github.branch}}/content/{{.File.Path}}"
        title="View and edit this file on GitHub" target="_blank" rel="noopener"><i class="bi bi-pencil-square"></i> {{
        i18n "edGithub" }}</a>
    <span class="btn btn-sm btn-bd-light mb-3 mb-md-0 rounded-2 ms-3" onclick="window.print()"><i
            class="bi bi-printer-fill"></i> {{ i18n "printThisPage" }}</span>
</div>
{{ if .Param "summary" }}<p class="bd-lead">{{ .Summary | truncate 250 }}</p> {{ end }}
<hr>