{{ define "main" }}
<div class="container py-4">
  {{ range $index, $section := .Site.Sections }}
  {{ if eq $index 0}}
  <div class="p-5 mb-4 text-bg-dark rounded-3">
    <div class="container-fluid py-5">
      {{ partial "my-inline-partial.html" . }}
    </div>
  </div>
  <div class="row align-items-md-stretch">
    {{ else }}
    <div class="col-md-6">
      <div class="h-100 bg-body-tertiary  p-5 rounded-3">
        {{ partial "my-inline-partial.html" . }}
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "partials/my-inline-partial.html" }}
<h2>{{.Title}}</h2>
<p>{{.Summary | truncate 200}}</p>
<a class="btn btn-outline-secondary" type="button" href="{{.Permalink}}">{{i18n "readNow" }}</a>
{{ end }}