{{ define "head" }}
<script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "{{.Site.Params.meta.name}}",
      "alternateName" : ["ঐশিক", "ঐশিক রেহমান", "Aishik", "Oishik Rehman", "Oishik"],
      "url" : "{{ absLangURL ""}}",
      "potentialAction": [{
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "{{ absLangURL ""}}/search?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }]
    }
</script>
{{ end }}

{{ define "main" }}
<div class="container py-4">
  {{ range $index, $section := .Site.Sections }}
  {{ if eq $index 0}}
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      {{ partial "my-inline-partial.html" . }}
    </div>
  </div>
  <div class="row align-items-md-stretch">
    {{ else if eq $index 1}}
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        {{ partial "my-inline-partial.html" . }}
      </div>
    </div>
    {{ else if eq $index 2}}
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        {{ partial "my-inline-partial.html" . }}
      </div>
    </div>
    {{ else }}
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        {{ partial "my-inline-partial.html" . }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>


<div class="container px-4 py-5">
  <div>
    <h1 class="text-body-emphasis">Get started with Bootstrap</h1>
    <p class="fs-5 col-md-8">Quickly and easily get started with Bootstrap's compiled, production-ready files with this
      barebones example featuring some basic HTML and helpful links. Download all our examples to get started.</p>

    <div class="mb-5">
      <a href="/docs/5.3/examples/" class="btn btn-primary btn-lg px-4">Download examples</a>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2 class="text-body-emphasis">Starter projects</h2>
        <p>Ready to go beyond the starter template? Check out these open source projects that you can quickly duplicate
          to a new GitHub repository.</p>
        <ul class="list-unstyled ps-0">
          <li>
            <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/icons-font" rel="noopener"
              target="_blank">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#arrow-right-circle"></use>
              </svg>
              Bootstrap npm starter
            </a>
          </li>
          <li>
            <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/parcel" rel="noopener"
              target="_blank">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#arrow-right-circle"></use>
              </svg>
              Bootstrap Parcel starter
            </a>
          </li>
          <li>
            <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/vite" rel="noopener"
              target="_blank">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#arrow-right-circle"></use>
              </svg>
              Bootstrap Vite starter
            </a>
          </li>
          <li>
            <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/webpack" rel="noopener"
              target="_blank">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#arrow-right-circle"></use>
              </svg>
              Bootstrap Webpack starter
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2 class="text-body-emphasis">Guides</h2>
        <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
        <ul class="list-unstyled ps-0">
          <li>
            <a class="icon-link mb-1" href="/docs/5.3/getting-started/introduction/">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#arrow-right-circle"></use>
              </svg>
              Bootstrap quick start guide
            </a>
          </li>
          <li>
            <a class="icon-link mb-1" href="/docs/5.3/getting-started/webpack/">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#arrow-right-circle"></use>
              </svg>
              Bootstrap Webpack guide
            </a>
          </li>
          <li>
            <a class="icon-link mb-1" href="/docs/5.3/getting-started/parcel/">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#arrow-right-circle"></use>
              </svg>
              Bootstrap Parcel guide
            </a>
          </li>
          <li>
            <a class="icon-link mb-1" href="/docs/5.3/getting-started/vite/">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#arrow-right-circle"></use>
              </svg>
              Bootstrap Vite guide
            </a>
          </li>
          <li>
            <a class="icon-link mb-1" href="/docs/5.3/getting-started/contribute/">
              <svg class="bi" width="16" height="16">
                <use xlink:href="#arrow-right-circle"></use>
              </svg>
              Contributing to Bootstrap
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{ range $index, $section := .Site.Sections }}
  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h3>{{ $index | add 1 }}</h3>
      <h2 class="fw-bold text-body-emphasis">{{ .Title }}</h2>
      <p class="text-body-secondary">{{.Summary | truncate 200}}</p>
      <a href="{{ .Permalink }}" class="btn border btn-md">এখুনি পড়ুন</a>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <ol>{{ $first4Pages := first 4 .Pages }}
          {{ range $first4Pages }}
          <li>
            <a class="mb-0 text-body-emphasis" href="{{.Permalink}}">{{ .Title }}</a>
          </li>
          {{ end}}
          <li class="list-unstyled">
            <a href="{{ .Permalink }}">সব বিষয়বস্তু দেখুন.............</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <hr>
  {{ end }}
</div>
{{ end }}


{{ define "partials/my-inline-partial.html" }}
<h2>{{.Title}}</h2>
<p>{{.Summary | truncate 200}}</p>
<a class="btn btn-outline-secondary" type="button" href="{{.Permalink}}">Read Now</a>
{{ end }}
